/* quill-custom.css */
.ql-editor h1 { 
    font-size: 40px;
}
.ql-editor h2 { 
    font-size: 30px;
}
.ql-editor a {
    color:blue;
    text-decoration: underline;
}

/* Saved content styles */
.saved-content h1 { 
    font-size: 40px;
}
.saved-content h2 { 
    font-size: 25px;
}
.saved-content a {
    color:blue; 
    text-decoration: underline; 
}
  /* Ensure these styles are not hiding lists */
.saved-content ol, .saved-content ul {
    list-style-type: decimal; /* or any other style you prefer */
    margin-left: 20px; /* Ensure there's space for the list */
}